<%10.times do%>
  <img class="home-dog-pic" src="<%= @dogimgs.sample %>"/>
<% end %>

</br>

<% if user_signed_in? %>
  <div class="row">
    <div class="small-5 small-centered columns">
      <h2> Welcome, <%= @user.first_name %>!</h2>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="small-9 small-centered columns">
      <h1><%= link_to "Continue to User Profile", user_path(@user) %></h1>
    </div>
  </div>
<% else %>
<div class="row">
  <div class="small-8 small-centered columns">
    <h1><strong>Welcome to Wag N Walk!</strong></h1>
  </div>
</div>
    <div class="row">
      <div class="small-9 small-centered columns">
    <h2>Sign Up or Sign In to Continue</h2>
  </div>
</div>
<% end %>
</div>

</br>

<%30.times do%>
  <img class="home-dog-pic" src="<%= @dogimgs.sample %>"/>
<% end %>
