
<div class="align-pics">
  <%10.times do%>
    <img class="home-dog-pic" src="<%= @dogimgs.sample %>"/>
  <% end %>
</div>

<div class="homepage-bar"></div>

</br>

<% if user_signed_in? %>
  <div class="row">
    <div class="small-9 small-centered columns">
      <h2 class="text-center"> Welcome, <%= @user.first_name %>!</h2>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="small-9 small-centered columns">
      <h1 class="text-center"><%= link_to "Continue to User Profile", user_path(@user) %></h1>
    </div>
  </div>
<% else %>
<div class="row">
  <div class="small-9 small-centered columns">
    <h1 class="text-center"><strong>Welcome to Wag N Walk!</strong></h1>
  </div>
</div>
    <div class="row">
      <div class="small-9 small-centered columns">
    <h2 class="text-center">Sign Up or Sign In to Continue</h2>
  </div>
</div>
<% end %>
</div>

</br>

<div class="homepage-bar"></div>

<div class="align-pics">
  <%20.times do%>
    <img class="home-dog-pic" src="<%= @dogimgs.sample %>"/>
  <% end %>
</div>

<div class="homepage-bar"></div>

<div class="row top-pad">
  <div class="small-12 small-centered columns">
    <h5 class="text-center google-font">Ryan Dobrinski</h5>
    <h5 class="text-center google-font">github.com/rdobrins/wag-n-walk</h5>
    <h5 class="text-center google-font">linkedin.com/in/ryandobrinski</h5>
  </div>
</div>
