<div class="row about-box small-12 small-centered columns text-center">
  <h2><strong>About Wag N Walk:</strong></h2>
  <div class="about-text">
    <h4>
      Wag N Walk is a full service dog walking application that provides a
      platform for both dog owners and walkers to operate.
    </h4>
      </br>
    <h4>
      Wag N Walk allows users to register as a dog walker and create a
      walking schedule, which in turn dog owners in their area have visibility
      to and can register their dogs for.
    </h4>
      </br>
    <h4>
      Dog owners and dog walkers receive text and email alerts when dogs
      are registered for those walks.
    </h4>
      </br>
    <%= link_to "Back to Homepage", root_path %>
  </div>
</div>

</br></br>
