<h1>You'll be able to view a history of all the walks you've created and had your dogs attend here</h1>


<% if user_signed_in? %>
  <% if @user.walker %>
    <h3>List of Walks You Created:</h3>
    <% @user.walks.each do |walk| %>
      <ul>
        <li><%= walk.date %><%= walk.body %></li>
      </ul>
    <% end %>
  <% end %>

  <h3>Additional content to display the walks that the users dogs attended</h3>

<% else %>
  <h3> Must be signed in and registered as a walker to view prior walks </h3>
    </br>
  <%= link_to "Home Page", root_path %>
<% end %>
