/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self

 */

body {
  background-color: #E6E6DC;
  color: #FF5A09;
  margin-left: 3rem;
  margin-right: 3rem;
}

h1 {
  color: #00628B;
}

h2 {
  color: #00628B;
}

h3 {
  color: #00628B;
}

h4 {
  color: #00628B;
}

h5 {
  color: #00628B;
}

li {
  color: #00628B;
}

p {
  color: #00628B;
}

a:not(.not-this) {
  background-color: #81A594;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #00628B;
  font-weight: bold;
}

a:hover:not(.not-this) {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #8bc697;
  font-weight: bold;
}

label {
  color: #004687;
}

ul {
  margin-left: 50px;
  list-style: none;
  font-size: 20px;
}

.top-bar {
  background-color: #00628B;
  color: #004687;
  margin-left: -7rem;
  margin-right: -4rem;
  margin-top: -1rem;
}

.to-edge {
  margin-left: -3rem;
  margin-right: -3rem;
}

.centered {
  padding: 3rem;
  padding-left: 11rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.form-inputs {
  width: 20rem;
}

.inline {
  padding: 2rem;
  display: inline-block;
}

.accordion {
  background-color: #E6E6DC;
  width: 30rem;
}

.dog-prof-boxes {
  width: 25rem;
  min-width: 8rem;
  background-color: #81A594;
  border-radius: 1rem;
  padding: 1rem;
}

.page-ownr-img {
  border: 5px solid #00628B;
  border-radius: 1rem;
  height: auto;
  width: auto;
  width: 12rem;
  height: 12rem;
}

.img-size {
  border: 5px solid #00628B;
  border-radius: 1rem;
  height: auto;
  width: auto;
  width: 8rem;
  height: 8rem;
}

.top-pad {
  padding-top: 2.5rem;
}

.bot-pad {
  padding-bottom: 1rem;
}

#topbar-img-size {
  border-radius: 1rem;
  max-height: 3rem;
  max-width: 3rem;
}

#hometextpic {
  height: 3.75rem;
  padding-bottom: .75rem;
}
