/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self
 */

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #E6E6DC;
  color: #ff4d4d;
  margin-left: 3rem;
  margin-right: 3rem;
}

h1 {
  color: #00628B;
  font-family: 'Varela Round', sans-serif;
}

h2 {
  color: #00628B;
  font-family: 'Varela Round', sans-serif;
}

h3 {
  color: #00628B;
  font-family: 'Varela Round', sans-serif;
}

h4 {
  color: #00628B;
}

h5 {
  color: #00628B;
}

h6 {
  color: #ff4d4d;
}

li {
  color: #00628B;
}

p {
  color: #00628B;
}

a:not(.not-this) {
  background-color: #81A594;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #00628B;
  font-weight: bold;
}

a:hover:not(.not-this) {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #8bc697;
  font-weight: bold;
}

label {
  color: #004687;
}

ul {
  margin-left: 50px;
  list-style: none;
  font-size: 20px;
}

.top-bar {
  background-color: #00628B;
  color: #004687;
  margin-left: -7rem;
  margin-right: -4rem;
  margin-top: -1rem;
}

.to-edge {
  margin-left: -3rem;
  margin-right: -3rem;
}

.centered {
  padding: 3rem;
  padding-left: 11rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.form-inputs {
  width: 20rem;
}

.inline {
  padding: 1rem;
  display: inline-block;
}

.accordion {
  background-color: #E6E6DC;
  width: 30rem;
}

.dog-prof-boxes {
  width: 25rem;
  min-width: 8rem;
  background-color: #81A594;
  border-radius: 1rem;
  padding: 1rem;
  height: 9rem;
}

.dog-prof-boxes:hover {
  width: 25rem;
  min-width: 8rem;
  background-color: #8bc697;
  border-radius: 1rem;
  padding: 1rem;
}

.page-ownr-img {
  border: 5px solid #00628B;
  border-radius: 1rem;
  height: auto;
  width: auto;
  width: 15rem;
  height: 15rem;
}

.img-size {
  border: 5px solid #00628B;
  border-radius: 1rem;
  height: auto;
  width: auto;
  width: 6rem;
  height: 6rem;
}

.disp-inline {
  display: inline-block;
}

.top-pad {
  padding-top: 2.5rem;
}

.bot-pad {
  padding-bottom: 1rem;
}

.right-pad {
  padding-right: 1rem;
}

.each-walk {
  margin-left: -1rem;
  width: 24rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #81A594;
}

.walk-history {
  border: 5px solid #00628B;
  width: 30rem;
  min-width: 8rem;
  background-color: #E6E6DC;
  border-radius: 1rem;
  padding: 1rem;
}

.home-dog-pic {
  margin-left: -0.28rem;
  width: 10%;
  display: inline-block;
  opacity: 0.2;
}

.full-width {
  width: 100%;
}

.move-front {
  padding: 1rem;
}

.dog-descr {
  width: 20rem;
  height: 28rem;
  background-color: white;
  border: 5px solid #00628B;
  border-radius: 1rem;
}

.dog-descr-text {
  font-family: courier;
  padding: 1rem;
}

.icon-display {
  margin-left: 1rem;
  margin-top: 1rem;
}

.dog-list {
  margin-left: -1rem;
  font-weight: bold;
  background-color: #81A594;
  padding: .15rem;
  padding-left: .5rem;
  padding-right: .5rem;
  border-radius: 10px;
  font-family: Courier;
}

.dog-list:hover {
  background-color: #8bc697;
}

.navy-blue {
  color: #00628B;
}

.homepage-bar {
  background-color: #81A594;
  height: 1rem;
  width: 113%;
  margin-left: -5rem;
}

.align-pics {
  width: 113%;
  margin-left: -5rem;
}

.walk-history-dog {
  background-color: #E6E6DC;
  padding: .15rem;
  padding-left: .5rem;
  padding-right: .5rem;
  border-radius: 10px;
  font-family: Courier;
  color: #00628B;
}

.walk-history-dog:hover {
  background-color: #00628B;
  color: #E6E6DC;
}

.google-font {
  font-family: 'Yellowtail', cursive;
}

.flash {
  border-radius: 2em;
  height: 3em;
  width: 100%;
  background-color: #E06E6E;
  font-weight: bold;
  color: #FFFFFF;
}

.pad-topp {
  padding-top: .5em;
  color: #FFFFFF;
}

.about-box {
  margin-top: 2em;
  border: .35em solid #81A594;
  max-width: 50em;
  padding: 1.5em;
  padding-bottom: 0em;
  border-radius: 2em;
}

.about-text {
  padding: 1.5em;
}

.home-button {
  width: 15em;
}

#topbar-img-size {
  border: 3px solid #81A594;
  border-radius: 1rem;
  max-height: 3rem;
  max-width: 3rem;
}

#hometextpic {
  height: 3.75rem;
  padding-bottom: .75rem;
}
